{{ define "main" }}
<div id="posts" class="container">
    <h1 class="title">
        {{ .Title }}
    </h1>
    {{ range .Pages.ByPublishDate.Reverse }}
        <div class="post-summary-container">
            <h3 class="post-summary-title">
                <a href="{{ .RelPermalink }}">
                    {{ .Title }}
                </a>
            </h3>
            {{ partial "metadata.html" . }}
            <a class="post-summary" href="{{ .RelPermalink }}">
                <p>{{ .Summary }}</p>
            </a>
        </div>
    {{ end }}
</div>
{{ end }}