{{ define "main" }}
<div id="blog" class="container">
  <div class="post-list">
    {{ range first 3 ( where .Site.Pages.ByPublishDate.Reverse ".Params.featured" true ) }}
      <div class="post-preview">
        <div class="post-image">
          {{ if .Params.featured_image }}
            <img src="{{ .Params.featured_image }}" alt="{{ .Title }}" />
          {{ end }}
        </div>
        <div class="post-details">
          <a href="{{ .Permalink }}">
            <h2>{{ .Title }}</h2>
          </a>
          <p class="post-date">{{ .Date.Format "Jan 2, 2006" }}</p>
          {{ if .Params.tags }}
            <p class="post-tags">
              Tags: {{ range .Params.tags }}<span>{{ . }}</span>{{ end }}
            </p>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
</div>
{{ end }}
